.property-filter.widget .content .property-types-custom .property-type-custom {
    line-height:40px;
    padding-left:20px;
}

.property-filter.widget .content .property-types-custom .property-type-custom{
    color:white;
    text-decoration:none;
}
.property-filter.widget .content .property-types-custom .property-type-custom:hover {    
    background:#04596E;
}

.property-filter.widget.property-type-list  {
    padding:0px !important;
}

.currency-list label {
    display:inline-grid !important;
}

.mb-5 {
    margin-bottom:5px !important;
}

.mb-10 {
    margin-bottom:10px !important;
}

.mb-20 {
    margin-bottom:20px !important;
}

.left-fifty {
  display: inline-block;  
  width: 50%;
  float:left;
}

.left-fifty input[type="text"] {
    width:100% !important;
}

.right-fifty {
  display: inline-block;  
  width: 50%;
  float:right;
}

.right-fifty input[type="text"] {
    width:95% !important;
    margin-left:5px;
}

.width100 {
    width:100% !important;
}