.property-filter.widget .content .property-types-custom .property-type-custom {
    line-height: 40px;
    padding-left: 20px;
}

.property-filter.widget .content .property-types-custom .property-type-custom {
    color: white;
    text-decoration: none;
}

    .property-filter.widget .content .property-types-custom .property-type-custom:hover {
        background: #04596E;
    }

.property-filter.widget.property-type-list {
    padding: 0px !important;
}

.currency-list label {
    display: inline-grid !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.left-fifty {
    display: inline-block;
    width: 50%;
    float: left;
}

    .left-fifty input[type="text"] {
        width: 100% !important;
    }

.right-fifty {
    display: inline-block;
    width: 50%;
    float: right;
}

    .right-fifty input[type="text"] {
        width: 95% !important;
        margin-left: 5px;
    }

.width100 {
    width: 100% !important;
}

.top .top-inner .header .contact-top li {
    margin-right: 10px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}

    .top .top-inner .header .contact-top li:last-child {
        border-right: 0 !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
    }

.top .top-inner.inverted .header {
    padding-left: 10px !important;
}

.top .top-inner .header .contact-top {
    margin-top: 18px !important;
}

.widget.properties {
    margin-top: 30px !important;
}

.mail-send.error {
    background-color: #DFAAAA;
    padding: 10px 15px;
}

.mail-send.success {
    background-color: #CADFAA;
    padding: 10px 15px;
}

.emptyPanel {
    background: #f2f2f2;
    padding: 10px 20px;
    border-radius: 3px;
    margin-left:0 !important;
}
