<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!-- Auth -->
    <authentication mode="Forms">
      <forms name="auth" loginUrl="~/Login.aspx" protection="All" path="/" slidingExpiration="false" timeout="120"/>
    </authentication>
    <authorization>
      <allow roles="admin"/>
      <deny users="*"/>
    </authorization>    
  </system.web>
  <appSettings>
    <add key="SiteName" value="RealEstate.com"/>
    <add key="SiteLink" value="http://realestate.com"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
  </appSettings>
  <connectionStrings>
    <add name="RealEstateEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=RealEstate;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCompression="false" enableCaching="true"/>
    </scripting>
  </system.web.extensions>
</configuration>