<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <httpRuntime maxUrlLength="5000" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!-- Auth -->
    <authentication mode="Forms">
      <forms name="auth" loginUrl="~/Login.aspx" protection="All" path="/" slidingExpiration="false" timeout="120"/>
    </authentication>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>
    <add key="SiteName" value="HabesogluGayrimenkul.com.tr"/>
    <add key="SiteLink" value="http://habesoglugayrimenkul.com.tr/"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
    <add key="what" value="1FxCj7CwUO*f - Wlht79*5 ghMa09#9"/>
    <add key="searchMode_quick" value="q"/>
    <add key="searchMode_advanced" value="a"/>
  </appSettings>
  <connectionStrings>
    <!-- TEST -->
    <add name="RealEstateEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=RealEstate;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  
  <!-- LIVE -->
  <!--<add name="RealEstateEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=213.142.145.140;initial catalog=RealEstate;user id=realestate;password=1FxCj7CwUO*f;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCompression="false" enableCaching="true"/>
    </scripting>
  </system.web.extensions>

  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
